<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="developers"></ion-back-button>
    </ion-buttons>
    <ion-title>Unidad de Medida</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteUnidadM()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <div *ngIf="unidadM"> 
    <ion-item >
      <ion-label position="stacked">Codigo</ion-label>
      <ion-input [(ngModel)]="unidadM.codigo" placeholder="Codigo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nombre Unidad de Medida</ion-label>
      <ion-input [(ngModel)]="unidadM.unidad_medida" placeholder="Unidad de Medida"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input [(ngModel)]="unidadM.descripcion" placeholder="Descripción"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha Creacion</ion-label>
      <p>{{unidadM.fecha_creacion}}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha Modificación</ion-label>
      <p>{{unidadM.fecha_modificacion}}</p>
    </ion-item>
    <ion-button expand="block" (click)="updateUnidadM()">Actualizar Unidad Medida</ion-button>
  </div>
</ion-content>