<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="developers"></ion-back-button>
    </ion-buttons>
    <ion-title>Item</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteItem()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <div *ngIf="itemM"> 
    <ion-item >
      <ion-label position="stacked">Codigo</ion-label>
      <ion-input [(ngModel)]="itemM.codigo" placeholder="Codigo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nombre Unidad de Medida</ion-label>
      <ion-input [(ngModel)]="itemM.unidad_medida" placeholder="Unidad de Medida"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input [(ngModel)]="itemM.descripcion" placeholder="Descripción"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha Creacion</ion-label>
      <p>{{itemM.fecha_creacion}}</p>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fecha Modificación</ion-label>
      <p>{{itemM.fecha_modificacion}}</p>
    </ion-item>
    <ion-button expand="block" (click)="updateItem()">Actualizar Item</ion-button>
  </div>
</ion-content>
